<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/dashstyle.css}">
</head>
<body>

    <div class="header">
        <h1>Dashboard</h1>
    </div>

    

    <div class="items">
        <!-- Item 1 -->
        <div class="item">
            <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/smartphone.png" alt="Smartphone">
            <h3>Smartphone</h3>
            <p>$499</p>
            <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
			</div>
        <!-- Item 2 -->
        <div class="item">
            <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/laptop.jpg" alt="Laptop">
            <h3>Laptop</h3>
            <p>$999</p>
            <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
			</div>
        <!-- Item 3 -->
        <div class="item">
            <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/game-console.jpg" alt="Gaming Console">
            <h3>Gaming Console</h3>
            <p>$399</p>
            <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
			</div>
        <!-- Item 4 -->
        <div class="item">
            <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/Enco-Buds2.png" alt="Enco Buds2">
            <h3>Enco Buds2</h3>
            <p>$399</p>
            <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
			</div>
        <!-- Item 5 -->
        <div class="item">
            <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/artic-fox.jpg" alt="Arctic Fox Mouse">
            <h3>Arctic Fox Mouse</h3>
            <p>$399</p>
            <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
			</div>
		
		<div class="item">
		     <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/macbookpro.jpeg">
			 <h3>MacBook Pro</h3>
		     <p>$399</p>
		      <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			  <button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
		  </div>
				
		<div class="item">
			<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/bucket.jpeg">
			<h3>Bucket</h3>
			<p>$399</p>
			<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
		</div>
		
		<div class="item">
				<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/shoes.jpeg">
				<h3>Adidas Shoes</h3>
				<p>$399</p>
				<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
				<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
			
			</div>
		
		<div class="item">
			<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/applewatch.jpeg">
			<h3>Apple Watch</h3>
			<p>$399</p>
			<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
		</div>
		
		<div class="item">
			<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/denver.jpeg">
			<h3>Denver</h3>
			<p>$399</p>
			<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
		</div>
		
		<div class="item">
			<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/The+Sunset.jpg">
			<h3>The Sunset(Jashmeet)</h3>
			<p>$999</p>
			<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
		</div>
		<div class="item">
			<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/Canon+DSLR+Camera.jpg">
			<h3>Canon DSLR Camera</h3>
			<p>$989</p>
			<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
		</div>
		<div class="item">
			<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/Dell+Inspiron+Laptop.avif">
			<h3>Dell Inspiron Laptop</h3>
			<p>$299</p>
			<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
			<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
		</div>
		
		<div class="item">
					<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/iPhone+14.jpg">
					<h3>iPhone 14</h3>
					<p>$989</p>
					<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
					<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
				</div>
				
				<div class="item">
								<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/hot2.jpg">
								<h3>Hot wheels</h3>
								<p>$1000</p>
								<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
								<button class="remove-from-cart" onclick="removeFromCart(this)">Remove from Cart</button>
							</div>

	
    </div>

    <script th:src="@{/js/dashboard.js}"></script>

</body>
</html>
