<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/dashstyle.css}">
</head>
<body>

    <div class="header">
        <h1>Dashboard</h1>
    </div>

    

    <div class="items">
        <!-- Item 1 -->
        <div class="item">
            <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/smartphone.png" alt="Smartphone">
            <h3>Smartphone</h3>
            <p>$499</p>
            <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
        </div>
        <!-- Item 2 -->
        <div class="item">
            <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/laptop.jpg" alt="Laptop">
            <h3>Laptop</h3>
            <p>$999</p>
            <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
        </div>
        <!-- Item 3 -->
        <div class="item">
            <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/game-console.jpg" alt="Gaming Console">
            <h3>Gaming Console</h3>
            <p>$399</p>
            <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
        </div>
        <!-- Item 4 -->
        <div class="item">
            <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/Enco-Buds2.png" alt="Enco Buds2">
            <h3>Enco Buds2</h3>
            <p>$399</p>
            <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
        </div>
        <!-- Item 5 -->
        <div class="item">
            <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/artic-fox.jpg" alt="Arctic Fox Mouse">
            <h3>Arctic Fox Mouse</h3>
            <p>$399</p>
            <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
        </div>
		
		<div class="item">
		     <img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/macbookpro.jpeg">
			 <h3>MacBook Pro</h3>
		     <p>$399</p>
		      <button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
		 </div>
				
		<div class="item">
			<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/bucket.jpeg">
			<h3>Bucket</h3>
			<p>$399</p>
			<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
		</div>
		
		<div class="item">
				<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/shoes.jpeg">
				<h3>Adidas Shoes</h3>
				<p>$399</p>
				<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
		</div>
		
		<div class="item">
			<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/applewatch.jpeg">
			<h3>Apple Watch</h3>
			<p>$399</p>
			<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
		</div>
		
		<div class="item">
			<img src="https://e-commerce-finalproject.s3.ap-south-1.amazonaws.com/denver.jpeg">
			<h3>Denver</h3>
			<p>$399</p>
			<button class="add-to-cart" onclick="addToCart(this)">Add to Cart</button>
		</div>
    </div>

    <script>
        

		function addToCart(button) {
						    const item = button.closest('.item');
						    const title = item.querySelector('h3').innerText;
						    const price = item.querySelector('p').innerText;
						    const imagePath = item.querySelector('img').src;

						    const cartItem = {
						        title: title,
						        price: price,
						        imagePath: imagePath
						    };

						    fetch('/dashcart/add', {
						        method: 'POST',
						        headers: {
						            'Content-Type': 'application/json'
						        },
						        body: JSON.stringify(cartItem)
						    })
						    .then(response => {
						        if (response.ok) {
						            alert('Item added to Shopping Page!');
						        } else {
						            alert('Failed to add item to cart.');
						        }
						    })
						    .catch(error => console.error('Error:', error));
						}

        
    </script>

</body>
</html>
